# Turn rewriting on
Options +FollowSymLinks
RewriteEngine On
# Redirect requests to index.php
# Enforces https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# EXCLUDES
RewriteCond %{REQUEST_FILENAME} !-f
# Redirect request to index.php
RewriteRule .*$ index.php [NC,L,QSA]